.post {
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post {
    margin-top: 2rem;
}

.post header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.hashtags {
    display: flex;
    gap: 0.5rem;
}

.content p {
    margin-top: 1.5rem;
}

.content a {
    font-weight: bold;
    color: var(--red-100);
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
}

.content a:hover {
    filter: brightness(1.2);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo strong {
    display: block;
    color: var(--gray-100);
}

.authorInfo span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}



.formComent {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

.formComent > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.formComent textarea {
    width: 100%;
    background-color: var(--gray-900);
    border: none;
    resize: none;
    height: 6rem;
    padding: 1rem;
    color: var(--gray-100);
    border-radius: 8px;
    line-height: 1.4;
    margin-top: 1rem;
}

.formComent footer {
    visibility: hidden;
    max-height: 0;
}

.formComent:focus-within footer {
    visibility: visible;
    max-height: none;
}

.formComent button[type=submit] {
    padding: 1rem 1.5rem;
    width: 15%;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: var(--red-100);
    color: var(--white);
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto';
    transition: .1s;
}

.formComent button[type=submit]:hover {
    filter: brightness(1.4);
}

.commentList {
    margin-top: 2rem;
}

